<div class="wrapper">
  <div class="forecast" *ngIf="forecastHours != undefined && forecastHours != null">
    
    <div class="day">

      <div class="card px-0 mb-0" *ngFor="let day of forecastHours.list;"> 
        <div class="d-flex justify-content-center">
          <div style="font-weight: bolder;">
            <div class="date">{{day?.dt_txt | date:'HH :mm - EE MMM'}}</div>
            <img [src]="weatherIconURL +day?.weather[0].icon +'.png'"> 
            <h3 class="temp">{{day?.main.temp}}&deg;</h3>
            <h4 class="description">
              min:{{day?.main.temp_min }}&deg;
              max  {{day?.main.temp_max}}&deg;
            </h4>
           
            <h2 class="description">{{day.weather[0].description}}</h2> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

